<script>
import { v4 } from 'uuid'
import Noty from 'noty'
import 'noty/lib/noty.css'
import 'noty/lib/themes/mint.css'

let products = [
	{
		id: 1,
		title: 'HP Notebook 15db0007la AMD ryzen 3',
		description: 'HP Laptop',
		category: 'computers'
	},
	{
		id: 2,
		title: 'AMD Ryzen 3',
		description: 'AMD RYZEN 3 Processor',
		category: 'devices'
	}
]

let product = {
	id: '',
	title: '',
	description: '',
	category: '',
	image: ''
}

let edit = false

const notify = ( type, text ) => {
	new Noty( {
		theme: 'mint',
		type: type,
		timeout: 1000,
		text: text
	} ).show()
}

const onSubmit = e => {
	if( !edit ) {
		const nProduct = {
			id: v4(),
			title: product.title,
			description: product.description,
			category: product.category,
			image: product.image
		}
		products = products.concat( nProduct )
	} else {
		const eProduct = {
			id: product.id,
			title: product.title,
			category: product.category,
			description: product.description,
			image: product.image
		}
		const iProduct = products.findIndex( p => p.id === product.id )
		products[ iProduct ] = eProduct
		edit = false
	}

	product = {
		id: '',
		title: '',
		description: '',
		category: '',
		image: ''
	}

	notify( 'success', 'Operation successful' )
}

const onDelete = id => {
	products = products.filter( product => product.id !== id )
	notify( 'error', 'Deleted product' )
}

const onEdit = eProduct => {
	product = eProduct
	edit = true
}

</script>

<main class="container">
	<div class="row">
		<div class="col-xs-4 col-md-4 col-sm-12">
			<h3>Add product</h3>
			<div class="card">
				<div class="card-body">
					<form on:submit|preventDefault={onSubmit}>
						<div class="form-group">
							<input class="form-control" bind:value={product.title} type="text" id="title" placeholder="Product name" required>
						</div>
						<div class="form-group">
							<textarea class="form-control" bind:value={product.description} id="description" placeholder="Product description"></textarea>
						</div>
						<div class="form-group">
							<select class="form-control" bind:value={product.category} id="category" required>
								<option disabled selected>Select category</option>
								<option value="devices">Devices</option>
								<option value="software">Software</option>
								<option value="computers">Computers</option>
							</select>
						</div>
						<div class="form-group">
							<input class="form-control" bind:value={product.image} type="url" id="image" placeholder="Product image" required>
						</div>
						<div class="form-group">
							<button class="btn btn-primary">
								{ !edit ? 'Publish product' : 'edit product' }
							</button>
						</div>
					</form>
				</div>
			</div>
		</div>
		<div class="col-xs-8 col-md-8 col-sm-12">
			<h3>Published products</h3>
			{ #each products as product }
				<div class="card mt-2">
					<div class="row card-body">
						<div class="col-3">
							<img src="{ product.image ? product.image : 'images/no_image.png' }" class="img-fluid" alt="" />
						</div>
						<div class="col-8">
							<h5 class="mb-0"><strong>{ product.title }</strong></h5>
							<small class="mb-2">{ product.category }</small>
							<p class="text">{ product.description }</p>
							<button class="btn btn-danger" on:click={ onDelete( product.id ) }>Delete</button>
							<button class="btn btn-secondary" on:click={ onEdit( product ) }>Edit</button>
						</div>
					</div>
				</div>
			{ /each }
		</div>
	</div>
</main>

<style>
</style>